fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pypdf
